In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
crime_file = 'crime.csv'
crime_df = pd.read_csv(crime_file)
crime_df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,X,Y
0,I182073338,2617,Drug Violation,CONSPIRACY EXCEPT DRUG LAW,B2,NaN,9/11/18,2018,9,Tuesday,18,Part Two,GERARD ST,42.33131,-71.07195
1,I182066658,2617,Drug Violation,CONSPIRACY EXCEPT DRUG LAW,C11,NaN,8/20/18,2018,8,Monday,17,Part Two,LYNDHURST ST,42.29229,-71.07177
2,I182045225,2617,Drug Violation,CONSPIRACY EXCEPT DRUG LAW,A1,NaN,6/11/18,2018,6,Monday,12,Part Two,BOYLSTON ST,42.35231,-71.06371
3,I182015103,2617,Drug Violation,CONSPIRACY EXCEPT DRUG LAW,A15,NaN,2/25/18,2018,2,Sunday,15,Part Two,THIRD AVE,42.37628,-71.05384
4,I182013743,2617,Drug Violation,CONSPIRACY EXCEPT DRUG LAW,C11,NaN,1/3/18,2018,1,Wednesday,0,Part Two,HALLET ST,42.28228,-71.04729

In [3]:
school_file = 'school.csv'
school_df = pd.read_csv(school_file)
school_df.head()

,X,Y,OBJECTID_1,OBJECTID,BLDG_ID,BLDG_NAME,ADDRESS,CITY,ZIPCODE,CSP_SCH_ID,SCH_ID,SCH_NAME,SCH_LABEL,SCH_TYPE
0,42.38880,-71.00412,1,1,1,Guild Bldg,195 Leyden Street,East Boston,2128,4061,4061,Guild Elementary,Guild,ES
1,42.37855,-71.03048,2,2,3,"Kennedy, P Bldg",343 Saratoga Street,East Boston,2128,4541,4541,Kennedy Patrick Elem,PJ Kennedy,ES
2,42.37528,-71.03389,3,3,4,Otis Bldg,218 Marion Street,East Boston,2128,4322,4322,Otis Elementary,Otis,ES
3,42.37809,-71.03801,4,4,6,Odonnell Bldg,33 Trenton Street,East Boston,2128,4543,4543,O'Donnell Elementary,O'Donnell,ES
4,42.38096,-71.03492,5,5,7,East Boston High Bldg,86 White Street,East Boston,2128,1070,1070,East Boston High,East Boston HS,HS

In [4]:

crime_cols = ['OFFENSE_CODE_GROUP', 'OCCURRED_ON_DATE','STREET','X','Y']
crime_transformed = crime_df[crime_cols].copy()

crime_transformed = crime_transformed.rename(columns={"OFFENSE_CODE_GROUP":"OFFENSE_TYPE",
                                                      "OCCURRED_ON_DATE":"DATE_OCCURRED",
                                                     "X":"LATITUDE",
                                                     "Y":"LONGITUDE"})

crime_transformed['DATE_OCCURRED'] = crime_transformed['DATE_OCCURRED'].astype('datetime64[ns]')


crime_transformed.head()

     OFFENSE_TYPE DATE_OCCURRED        STREET  LATITUDE  LONGITUDE
0  Drug Violation    2018-09-11     GERARD ST  42.33131  -71.07195
1  Drug Violation    2018-08-20  LYNDHURST ST  42.29229  -71.07177
2  Drug Violation    2018-06-11   BOYLSTON ST  42.35231  -71.06371
3  Drug Violation    2018-02-25     THIRD AVE  42.37628  -71.05384
4  Drug Violation    2018-01-03     HALLET ST  42.28228  -71.04729

In [5]:
crime_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15032 entries, 0 to 15031
Data columns (total 5 columns):
OFFENSE_TYPE     15032 non-null object
DATE_OCCURRED    15032 non-null datetime64[ns]
STREET           14821 non-null object
LATITUDE         15032 non-null float64
LONGITUDE        15032 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 587.3+ KB

In [6]:

school_cols = ['SCH_NAME','SCH_TYPE','ADDRESS','X','Y']
school_transformed = school_df[school_cols].copy()

school_transformed = school_transformed.rename(columns={"SCH_NAME":"SCHOOL_NAME",
                                                      "SCH_TYPE":"SCHOOL_TYPE",
                                                     "X":"LATITUDE",
                                                     "Y":"LONGITUDE"})
school_transformed.head()

            SCHOOL_NAME SCHOOL_TYPE              ADDRESS  LATITUDE  LONGITUDE
0      Guild Elementary          ES    195 Leyden Street  42.38880  -71.00412
1  Kennedy Patrick Elem          ES  343 Saratoga Street  42.37855  -71.03048
2       Otis Elementary          ES    218 Marion Street  42.37528  -71.03389
3  O'Donnell Elementary          ES    33 Trenton Street  42.37809  -71.03801
4      East Boston High          HS      86 White Street  42.38096  -71.03492

In [7]:
connection_string = "root:Freehov90@@localhost/boston_db"
engine = create_engine(f'mysql://{connection_string}')

In [8]:
engine.table_names()

['crime', 'school']

In [9]:
crime_transformed.to_sql(name = 'crime', con = engine, if_exists = 'append',index=False)

In [10]:
school_transformed.to_sql(name = 'school', con = engine, if_exists = 'append',index=False)

In [11]:
engine.execute('SELECT * FROM crime LIMIT 10').fetchall()

[('Drug Violation', datetime.date(2018, 9, 11), 'GERARD ST', 42.3313, -71.072),
 ('Drug Violation', datetime.date(2018, 8, 20), 'LYNDHURST ST', 42.2923, -71.0718),
 ('Drug Violation', datetime.date(2018, 6, 11), 'BOYLSTON ST', 42.3523, -71.0637),
 ('Drug Violation', datetime.date(2018, 2, 25), 'THIRD AVE', 42.3763, -71.0538),
 ('Drug Violation', datetime.date(2018, 1, 3), 'HALLET ST', 42.2823, -71.0473),
 ('Drug Violation', datetime.date(2018, 2, 8), 'GREENWICH ST', 42.3355, -71.0835),
 ('Drug Violation', datetime.date(2018, 1, 29), 'NEW SUDBURY ST', 42.3618, -71.0598),
 ('Drug Violation', datetime.date(2017, 8, 21), 'HUNTINGTON AVE', 42.3475, -71.0793),
 ('Drug Violation', datetime.date(2017, 6, 28), 'CHESTNUT HILL AVE', 42.3483, -71.1538),
 ('Drug Violation', datetime.date(2017, 3, 31), 'CABOT ST', 42.3334, -71.0874)]